.home-main-container {
  min-height: 100vh;
  background-color: #fbf9f1;
}
.home-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: #191919;
}

.app-head-nav {
  font-size: 18px;
  color: #00a9ff;
  cursor: pointer;
}
.links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.nav-log-out-btn {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 80px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: #191919;
  background-color: #00a9ff;
}

.home-head {
  margin-top: 20px;
  font-size: 42px;
  color: #03c988;
  text-align: center;
}

.special-head {
  font-size: 42px;
  color: #fec260;
}

.player-welcome-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.player-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-info {
  font-size: 24px;
  text-align: center;
  color: #191919;
  width: 300px;
}

.explore-btn {
  font-size: 14px;
  font-weight: bold;
  width: 120px;
  background-color: #191919;
  color: #03c988;
  border: none;
  border-radius: 4px;
  padding: 12px;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.video-icon {
  margin-right: 6px;
  font-size: 21px;
}

.player-thumbnail {
  width: 400px;
  height: 400px;
}

/* device-wise-layouts */

@media screen and (max-width: 576px) {
  .home-head {
    font-size: 16px;
  }
  .special-head {
    font-size: 16px;
  }
  .player-thumbnail {
    width: 220px;
    height: 220px;
  }
  .player-info {
    font-size: 14px;
    width: 240px;
  }
  .player-info-container {
    width: 220px;
  }
  .player-welcome-container {
    flex-direction: column;
  }
  .explore-btn {
    font-size: 12px;
    padding: 4px;
    width: 80px;
  }
  .app-head-nav {
    font-size: 14px;
  }
  .nav-log-out-btn {
    width: 56px;
    padding: 6px;
  }
}
