.player-main-container {
  min-height: 100vh;
  background-color: #f2f1eb;
}

.player-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-file-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-info {
  color: #191919;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.upload-btn {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #ecb365;
  color: #191919;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 120px;
  padding: 12px;
  margin-left: 20px;
}
.upload-icon {
  font-size: 18px;
  margin-right: 6px;
}

.input-file {
  display: none;
}

.file-err-msg {
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
  margin-left: 12px;
}
.main-player-control {
  margin-top: 36px;
}

.subtitle-form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #9dbc98;
  padding: 18px;
  border-radius: 6px;
}
.wrap-subtile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle-label {
  font-size: 14px;
  font-weight: bold;
  color: #191919;
}
.spl-srt-label {
  color: #ff0000;
  font-size: 14px;
  font-weight: bold;
}

.time-input {
  padding: 6px;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid #191919;
  color: #191919;
  font-size: 12px;
  font-weight: bold;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.subtitle-text {
  font-size: 14px;
  color: #191919;
  background-color: #f2f1eb;
  outline: none;
  padding: 6px;
}

.subtitle-sbt-btn {
  outline: none;
  cursor: pointer;
  background-color: #191919;
  font-size: 14px;
  color: #f2f1eb;
  font-weight: bold;
  padding: 10px;
  width: 80px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}

.subtitle-note {
  font-size: 12px;
  font-weight: bold;
  color: #191919;
  margin-top: 10px;
}

.subtitle-btn-containers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* device-wise-layouts */

@media screen and (max-width: 576px) {
  .main-player-control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .upload-info {
    font-size: 16px;
  }
  .upload-btn {
    padding: 8px;
  }
  .subtitle-form-container {
    width: 264px;
    margin-top: 10px;
  }
  .subtitle-sbt-btn {
    font-size: 10px;
    width: 80px;
    padding: 6px;
  }
}
